.sticker {
  padding: 16px 24px;
  width: auto;
  height: auto;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Stolzl';
  font-size: 15px;
  color: white;
  line-height: 1.4;
  font-weight: 400;
  background-color: #3D324F;
  border-radius: 12px;
}