.territory {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;

  &__wrapper {
    display: flex;
    gap: 25px;
  }
  &__wrapper-text {
    gap: 40px;
    flex-direction: column;
    display: flex;
    width: 642px;
    .mainText {
      font-size: 48px;
      text-wrap:nowrap;
      overflow: hidden;
      animation: typing 3s alternate-reverse infinite;
    }
  }
  &__wrapper-img {
    width: 630px;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__wrapper-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  &__wrapper-points {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media(max-width:1296px) {
  .territory {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__wrapper-text {
      width: 560px;
    }
    &__wrapper-img {
      width: 636px;
    }
  }
}
@media(max-width:820px) {
  .territory {
    &__wrapper-img {
      width: 100%;
    }
    &__wrapper-grid {
      grid-template-columns: 1fr;
      img {
        width: 100%;
      }
    }
  }
}
@media(max-width:560px) {
  .territory {
    &__wrapper-text {
      width: 100%;
      .mainText {
        text-wrap: wrap;
        animation: none;
      }
    }
  }
}